<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoji.dao.AbkRecordingMapper">
    <select id="findById" resultType="map">
        SELECT * FROM abk_recording WHERE template_id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO abk_recording
            (
                sa_prefix,
                template_class_name,
                template_id,
                template_name,
                template_generator,
                template_file,
                template_type,
                create_date
            )
        VALUE
            (
                #{sa_prefix},
                #{template_class_name},
                #{template_id},
                #{template_name},
                #{template_generator},
                #{template_file},
                #{template_type},
                DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            )
    </insert>

    <update id="update">
        UPDATE abk_recording SET
        template_class_name = #{template_class_name},
        template_id = #{template_id},
        template_generator = #{template_generator},
        template_file = #{template_file},
        template_type = #{template_type},
        update_date = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE template_name = #{template_name} AND sa_prefix = #{sa_prefix}
    </update>



</mapper>